.batalha-screen .banner-texto {
  width: 100%;
  height: 0%;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: aqua;
  background: rgb(173, 173, 173);
  background: url(../../../../assets/img/textures/BANNER_TEXTURE.png),
    linear-gradient(
      0deg,
      transparent 5%,
      var(--purple) 15%,
      var(--purple) 50%,
      var(--purple) 85%,
      transparent 95%
    );
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: titleFont, sans-serif;
  font-size: 0rem;
  text-shadow: 3px 3px var(--black);
  color: transparent;
  opacity: 0%;
  transition: all 1s;
  animation: banner-entrada 5s ease-in-out;
}


.batalha-screen .banner-teste {
  width: 100%;
  height: 0%;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: aqua;
  background: rgb(173, 173, 173);
  background: url(../../../../assets/img/textures/BANNER_TEXTURE.png),
    linear-gradient(
      0deg,
      transparent 5%,
      var(--purple) 15%,
      var(--purple) 50%,
      var(--purple) 85%,
      transparent 95%
    );
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  z-index: 999;
  transition: all 1s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: titleFont, sans-serif;
  font-size: 0rem;
  color: transparent;
  opacity: 0%;
  animation: banner-teste-entrada 5s ease-in-out;
}

.batalha-screen .banner-teste div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.batalha-screen .banner-teste h1 {
  font-weight: 100;
  text-shadow: 3px 3px var(--black);
  animation: fade-in 1s ease-in;
  font-size: 8rem;
}

.batalha-screen .banner-teste div {
  animation: duracao-teste 5s ease-in-out;
}

.batalha-screen .banner-teste div h2 {
  font-size: 36px;
  font-weight: 100;
  text-shadow: 3px 3px var(--black);
  margin: 0;
}

.batalha-screen .banner-teste div .d20 {
  background-image: url(../../../../assets/img/icons/D20.png);
  animation: rolar-dado-teste 5s ease-in-out;
}

.batalha-screen .banner-teste div .cross-sword {
  background-image: url(../../../../assets/img/icons/CROSS_SWORD.png);
  width: 5rem;
  height: 5rem;
  margin-bottom: 2rem;
}

.batalha-screen .banner-teste div .shield {
  background-image: url(../../../../assets/img/icons/SHIELD.png);
}

.batalha-screen .banner-teste div div {
  width: 10rem;
  height: 10rem;
  background: none;
  background-position: center;
  background-size: cover;
  border: none;
  margin: 0 1rem;
  transform: rotate(720deg);
  color: var(--white);
  text-shadow: 2px 2px var(--black);
  font-family: titleFont, sans-serif;
  font-size: 48px;
  transition: all 0.3s;
  opacity: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.batalha-screen .banner-acao-inimigo {
  width: 100%;
  height: 75%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 9999;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  opacity: 0%;
  background: linear-gradient(0deg, var(--red-transparent) 75%, transparent 100%),
              url(../../../../assets/img/textures/PIXEL_TEXTURE.png) top;
  animation: acao-inimigo 5s ease-in-out;
}

.batalha-screen .banner-acao-inimigo .personagem {
  position: absolute;
  height: 100%;
  width: auto;
  bottom: 0;
  left: 0;
  transform: scaleX(-1);
  animation: acao-inimigo-personagem 5s ease-in-out;
}

.batalha-screen .banner-acao-inimigo .alvo {
  position: absolute;
  height: 100%;
  width: auto;
  bottom: 0;
  right: 0;
  animation: acao-inimigo-alvo 5s ease-in-out;
}

.batalha-screen .banner-acao-inimigo section {
  height: 90%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.batalha-screen .banner-acao-inimigo section h1 {
  margin: 1rem 0;
  font-weight: 100;
  font-family: titleFont, sans-serif;
  color: var(--white);
  text-shadow: 4px 4px var(--black);
  font-size: 72px;
  animation: acao-inimigo-text 5s ease-in-out;
}

.batalha-screen .banner-acao-inimigo section img {
  height: 50%;
  animation: acao-inimigo-icon 5s ease-in-out;
}

@keyframes acao-inimigo {
  0% {opacity: 0%;}
  15% {opacity: 100%;}
  85% {opacity: 100%;}
  100% {opacity: 0%;}
}

@keyframes acao-inimigo-personagem {
  from {transform: translateX(-2rem) scaleX(-1);}
  to {transform: translateX(0) scaleX(-1);}
}

@keyframes acao-inimigo-alvo {
  from {transform: translateX(2rem);}
  to {transform: translateX(0);}
}

@keyframes acao-inimigo-text {
  from {font-size: 56px;}
  to {font-size: 72px;}
}

@keyframes acao-inimigo-icon {
  from {transform: translateX(-1rem);}
  to {transform: translateX(1rem);}
}

@keyframes banner-teste-entrada {
  0% {
    top: 50%;
    height: 0%;
    opacity: 0%;
    color: transparent;
    font-size: 0rem;
    background-position: left;
  }
  10% {
    top: 12%;
    height: 75%;
    opacity: 100%;
    color: var(--white);
    font-size: 6rem;
  }
  90% {
    top: 12%;
    height: 75%;
    opacity: 100%;
    color: var(--white);
    font-size: 7rem;
  }
  100% {
    top: 50%;
    height: 0%;
    opacity: 0%;
    color: transparent;
    font-size: 0rem;
    background-position: right;
  }
}

@keyframes duracao-teste {
  0% {
    opacity: 0%;
  }
  5% {
    opacity: 100%;
  }
  45% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
}

@keyframes rolar-dado-teste {
  0% {
    opacity: 0%;
    transform: rotate(0deg);
    color: transparent;
    text-shadow: none;
  }
  5% {
    opacity: 100%;
  }
  20% {
    transform: rotate(720deg);
    color: transparent;
    text-shadow: none;
  }
  30% {
    color: var(--white);
    text-shadow: 2px 2px var(--black);
  }
  45% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
}


@keyframes banner-entrada {
  0% {
    top: 50%;
    height: 0%;
    opacity: 0%;
    color: transparent;
    font-size: 0rem;
    background-position: left;
  }
  15% {
    top: 12%;
    height: 75%;
    opacity: 100%;
    color: var(--white);
    font-size: 6rem;
  }
  85% {
    top: 12%;
    height: 75%;
    opacity: 100%;
    color: var(--white);
    font-size: 7rem;
  }
  100% {
    top: 50%;
    height: 0%;
    opacity: 0%;
    color: transparent;
    font-size: 0rem;
    background-position: right;
  }
}
