
.batalha-screen .batalha-banner {
    width: 100%;
    height: 0%;
    position: absolute;
    top: 50%;
    left: 0;
    background-color: aqua;
    background: rgb(173,173,173);
    background: url(../../../assets/img/textures/BANNER_TEXTURE.png),
    linear-gradient(0deg, transparent 5%, var(--dark-green) 15%,
    var(--dark-green) 50%, var(--dark-green) 85%, transparent 95%);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    z-index: 999;
    transition: all 1s;
    animation: banner-entrada 5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: titleFont, sans-serif;
    font-size: 0rem;
    color: transparent;
    opacity: 0%;
}

@keyframes banner-entrada {
    0% {
        top: 50%;
        height: 0%;
        opacity: 0%;
        color: transparent;
        font-size: 0rem;
        background-position: left;
    }
    15% {
        top: 12%;
        height: 75%;
        opacity: 100%;
        color: var(--white);
        font-size: 6rem;
    }
    85% {
        top: 12%;
        height: 75%;
        opacity: 100%;
        color: var(--white);
        font-size: 7rem;
    }
    100% {
        top: 50%;
        height: 0%;
        opacity: 0%;
        color: transparent;
        font-size: 0rem;
        background-position: right;
    }
}