
.batalha-screen .batalha-turnos {
    width: fit-content;
    height: 10%;
    position: absolute;
    top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: fade-in 0.5s;
}

.batalha-screen .batalha-turnos header {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    margin: 10px 0;
    color: var(--white);
    text-shadow: 2px 3px 2px var(--black);
    font-family: titleFont, sans-serif;
}

.batalha-screen .batalha-turnos section {
    width: 100%;
    height: 70%;
    margin: 0;
    background: rgb(173,173,173);
    background: linear-gradient(0deg, rgba(173,173,173,0) 46%, rgba(255,255,255,1) 46%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 54%, rgba(173,173,173,0) 54%);
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.batalha-screen .batalha-turnos section div {
    height: 2rem;
    width: 2rem;
    background-color: var(--grey);
    margin: 0 0.5rem;
    border: solid 2px var(--white);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.batalha-screen .batalha-turnos section div .d20-turnos{
    width: 90%;
    height: 90%;
    background: none;
    background-image: url(../../../assets/img/icons/D20_ICON.png);
    background-position: center;
    background-size: cover;
    border: none;
    margin: 0;
    position: relative;
    top: 110%;
    transform: rotate(1800deg);
    color: var(--white);
    text-shadow: 2px 2px var(--black);
    font-family: titleFont, sans-serif;
    font-size: 16px;
    transition: all 0.3s;
    animation: rolar-dado 5s ease-in-out;
    opacity: 0%;
}

.batalha-screen .batalha-turnos section .batalha-turnos-ativo {
    height: 3rem;
    width: 3rem;
    border: solid 3px var(--cyan);
    animation: turno-alerta 0.8s alternate infinite ease-in-out;
}

.batalha-screen .batalha-turnos section .batalha-turnos-ponta {
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: var(--white);
    position: relative;
    top: -10px;
    background: none;
}

.batalha-screen .batalha-turnos section .batalha-turnos-ponta:after {
    content: '';
    position: absolute;
    left: -10px;
    top: 10px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: var(--white);
}

@keyframes turno-alerta {
    from {filter: drop-shadow(1px 1px 2px var(--white))}
    to {filter: drop-shadow(1px 1px 5px var(--white));}
}

@keyframes rolar-dado {
    0% {opacity: 0%; transform: rotate(0deg); color: transparent; text-shadow:none;}
    15% {opacity: 100%;}
    40% {transform: rotate(1800deg); color: transparent; text-shadow:none;}
    50% {color: var(--white); text-shadow: 2px 2px var(--black);}
    95% {opacity: 100%;}
    100% {opacity: 0%;}
}