.batalha-screen {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    background-color: var(--grey);
    background-image: url(../../../assets/img/backgrounds/UNIVERSO_BACKGROUND.jpg);
    background-size: 105%;
    background-position: center;
    animation: leftToRight 10s infinite alternate-reverse ease-in-out;
  }
  