.batalha-screen .batalha-hud .hud-acoes {
  width: 20%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  margin-left: 1rem;
  margin-right: 0.6rem;
}

.batalha-screen .batalha-hud .hud-acoes li {
  width: 95%;
  font-size: 24px;
  margin: 2px;
  border: double 5px var(--white);
  color: var(--white);
  background-color: var(--background-text);
  transition: 0.1s;
  padding-left: 5px;
  text-shadow: 2px 2px 1px var(--black);
}

.batalha-screen .batalha-hud .hud-acoes li:hover {
  transition: 0.1s;
  cursor: pointer;
  font-size: 28px;
  width: 100%;
  background-color: var(--cyan-transparent);
}

.batalha-screen .batalha-hud .hud-sub-acoes {
  width: 30%;
  height: 90%;
  margin: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  background-color: var(--black-transparent);
  border: double 5px var(--light-grey);
  margin-bottom: 0.5rem;
  animation: fade-in 0.1s;
}

.batalha-screen .batalha-hud .hud-sub-acoes header {
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-size: 20px;
  text-shadow: 2px 2px 1px var(--black);
  border-bottom: solid 2px var(--white);
  background-color: var(--grey-transparent);
}

.batalha-screen .batalha-hud .hud-sub-acoes section {
  height: 85%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.batalha-screen .batalha-hud .hud-sub-acoes section li {
  width: 100%;
  height: 35%;
  font-size: 18px;
  color: var(--white);
  transition: 0.1s;
  padding-left: 5px;
  text-shadow: 2px 2px 1px var(--black);
  border-bottom: double 5px var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.batalha-screen .batalha-hud .hud-sub-acoes section li:hover {
  transition: 0.1s;
  cursor: pointer;
  background-color: var(--cyan-transparent);
}

.batalha-screen .batalha-hud .hud-sub-acoes section .acao-bloqueada {
  background-color: var(--black);
  color: var(--grey-transparent);
}

.batalha-screen .batalha-hud .hud-sub-acoes section .acao-bloqueada:hover {
  cursor: not-allowed;
  background-color: var(--black);
}

.batalha-screen .batalha-hud .hud-sub-acoes section li h1 {
  width: 100%;
  height: 40%;
  margin: 0;
  font-size: 18px;
  display: flex;
  align-items: center;
  font-weight: 100;
}

.batalha-screen .batalha-hud .hud-sub-acoes section li section {
  width: 100%;
  height: 40%;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow-y: hidden;
}

.batalha-screen .batalha-hud .hud-sub-acoes section li section h2 {
  min-width: 33%;
  height: 100%;
  font-weight: 100;
  font-size: 14px;
}
